* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 12px;
}

*::-webkit-scrollbar-track{
  background: pink;
}

*::-webkit-scrollbar-thumb{
  background-color: #F270DF;
  border-radius: 20px;
  border: 3px solid #F270DF;
  width: 12px;
}

#fundo{
  background: linear-gradient(35deg, LightPink 30%, GhostWhite);
  width: 100%;
  height: 100%;
}

.headerConteudo {
  display: flex;
  width: 100%;
  height: 10vh;
  background: rgba(255,255,255,0.2);;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-style: italic;
  font-family:Georgia, 'Times New Roman', Times, serif ;
  color: #F270DF;
}

.headerConteudo a{
  text-decoration: none;
  color: #F270DF;
  font-family:Georgia, 'Times New Roman', Times, serif ;
  font-style: italic
}
main {
  display: flex;
  width: 100%;
  height: auto;
  background: rgba(255,255,255,0.2);;
  border-radius: 10px;
  flex-direction: column;
}

.headerTitulo{
  height: auto;
  width: 100%;
  font-size: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

.texto{
  width: 60%;
  height: auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  margin-top: 2%;
  flex-direction: column;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  flex-direction: column;

}